{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/appFormStyles.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="center">
            <h1>{{ appForm.title }}</h1>
            <h6>{{ appForm.description }}</h6>
        </div>

        <div class="questions">

            <table class="table-bordered custom-table">
                <col width="5%"/>
                <col width="95%"/>
                <thead>
                    <tr>
                        <th class="header">N°</th>
                        <th class="header">Preguntas</th>
                    </tr>
                </thead>
                <tbody>
                    <form>
                        {% set count=1 %}
                        {% for question in appForm.questions %}
                            <tr>
                                <td class="centered-cell">{{ count }}</td>
                                <td>{{ question.text }}</td>
                            </tr>
                            {% set count=count+1 %}
                        {% endfor %}
                    </form>
                </tbody>
            </table>
        </div>
        <div class="new-question-wrapper">
            <h4>Nueva Pregunta</h4>
            {{ form_start(form, { 'attr': { 'action': path('appform_question_new', { 'appform_id': appForm.id }) } }) }}
                <div class="form-group new-question-form">
                    <div class="new-question-item">
                        {{ form_widget(form.text, { 'attr': { 'rows': 1, 'placeholder': 'agregar pregunta...' } } ) }}
                    </div>
                    <div class="new-question-item">
                        <button class="btn btn-success" type="submit" value="Create" ><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        <ul class="form-actions">
            <li>
                <a class="btn btn-default" href="{{ path('appform_index') }}">Ver Formularios</a>
            </li>
            <li>
                <a class="btn btn-primary" href="{{ path('appform_formanswer_new', { 'appform_id': appForm.id }) }}">Responder</a>
            </li>
            <li>
                <a class="btn btn-success" href="{{ path('appform_edit', { 'id': appForm.id }) }}">Editar</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Eliminar">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
