{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="center form-border">
            <h1>Editar Pregunta</h1>
            {{ form_start(edit_form) }}
                <div class="form-group">
                    {{ form_errors(edit_form.text) }}
                    {{ form_label(edit_form.text) }}</br>
                    {{ form_widget(edit_form.text, { 'attr': { 'class': 'form-control' } }) }}
                </div>
                <input class="btn btn-primary" type="submit" value="Guardar Cambios" />
                <a class="btn btn-default" href="{{ path('appform_show', { 'id': appform_id }) }}">Volver al Formulario</a>
            {{ form_end(edit_form) }}
            </br>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar"/>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
