{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formanswers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formAnswer in formAnswers %}
            <tr>
                <td><a href="{{ path('appform_formanswer_show', { 'id': formAnswer.id, 'appform_id': appform_id }) }}">{{ formAnswer.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appform_formanswer_show', { 'id': formAnswer.id, 'appform_id': appform_id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('appform_formanswer_edit', { 'id': formAnswer.id, 'appform_id': appform_id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appform_formanswer_new', { 'appform_id': appform_id }) }}">Create a new formAnswer</a>
        </li>
    </ul>
{% endblock %}
